

.children-support-section {
  background-color: #fff;
  padding: 30px 20px;
  margin-top: 80px;
  text-align: center;
}

.children-support-section h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #1b1f29;
}

.children-tabs-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 50%;
  margin: 0 auto;
  text-align: left;
}

/* Вертикальні таби */
.children-tabs-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 30%;
}

.children-tab-button {
  background-color: #f7f7f7;
  border: none;
  border-left: 4px solid transparent;
  padding: 12px 20px 12px 52px;
  font-size: 26px;
  font-weight: 600;
  color: #666;
  cursor: pointer;
  text-align: left;
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 24px 24px;
  transition: all 0.3s ease;
}


.children-tab-button:hover {
  background-color: #e0e0e0;
}

.children-tab-button.active {
  background-color: #dbeaff;
  border-left: 4px solid #1e88e5;
  color: #0056b3;
  font-weight: 700;
}
/* Контент табів */
.children-tabs-content {
  flex: 1;
}

.children-tab-content {
  display: none;
}

.children-tab-content.active {
  display: block;
}

.tab-columns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.column {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
}

.column h5 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 700;
  color: #1b1f29;
}

.column p {
  margin: 0 0 20px;
  font-size: 20px;
}

/* Іконки */
.children-tab-button:nth-child(1) {
  background-image: url('../images/edu.png');
}
.children-tab-button:nth-child(2) {
  background-image: url('../images/med.png');
}
.children-tab-button:nth-child(3) {
  background-image: url('../images/society.png');
}
.children-tab-button:nth-child(4) {
  background-image: url('../images/help.png');
}

